.signUpMainBackground {
    background: rgb(0, 212, 255);
    background: linear-gradient(243deg, rgba(0, 212, 255, 1) 0%, rgba(168, 163, 252, 1) 0%, rgba(255, 255, 255, 1) 22%);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 92vh;
    position: absolute;
    z-index: 0;

}


.floating-element {
    animation: float 3s ease-in-out infinite;
}

@keyframes float {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-8px);
    }
}